%ul.steps.list-inline
  = render 'step_li', step: 1, step_number: number, step_name: t('checkout.address')
  %li.step-divider
  = render 'step_li', step: 2, step_number: number, step_name: t('checkout.delivery')
  %li.step-divider
  = render 'step_li', step: 3, step_number: number, step_name: t('checkout.payment')
  %li.step-divider
  = render 'step_li', step: 4, step_number: number, step_name: t('checkout.confirm')
  %li.step-divider
  = render 'step_li', step: 5, step_number: number, step_name: t('checkout.complete')