%h1.general-title-margin Checkout
= render 'steps', step: :address
= form_tag(checkout_delivery_path, class: 'res-mb-100', method: :put) do
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle= t('checkout.billing_address')
        %p.general-info-text= t('checkout.required')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('checkout.shipping_address')
  .row
    .col-md-5.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle= t('checkout.billing_address')
        %p.general-info-text= t('checkout.required')
      = simple_fields_for :billing_address, @billing_address do |address|
        = render 'shared/address_form', f: address, address_type: :billing, visible_submit_btn: false
    .col-md-5.col-md-offset-1.mb-60
      #checkout_shipping_address{class: (@order.use_billing ? 'hidden' : '')} 
        .visible-xs.visible-sm
          %h3.general-subtitle= t('checkout.shipping_address')
        = simple_fields_for :shipping_address, @shipping_address do |address|
          = render 'shared/address_form', f: address, address_type: :shipping, visible_submit_btn: false
      .form-group.checkbox
        %label.checkbox-label
          = check_box_tag :use_billing, true, @order.use_billing, hidden: true, class: 'checkbox-input', id: 'checkout_use_billing'
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('checkout.use_billing_adress')
  = render 'order_summary', order: @order
  = submit_tag 'Save and Continue', class:'btn btn-default center-block mb-20'