%h1.general-title-margin= t('checkout.checkout')
= render 'steps', number: 1
= simple_form_for(@form, url: wizard_path, method: :put, class: 'res-mb-100') do |ff|
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle= t('checkout.billing_address')
        %p.general-info-text= t('checkout.required')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('checkout.shipping_address')
  .row
    .col-md-5.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle= t('checkout.billing_address')
        %p.general-info-text= t('checkout.required')
      = ff.fields_for :billing_form, @form.billing_address do |address|
        = render 'shared/address_form', f: address, ff: ff, address_type: :billing, visible_submit_btn: false
    .col-md-5.col-md-offset-1.mb-60
      #checkout_shipping_address{class: (@order.use_billing ? 'hidden' : '')} 
        .visible-xs.visible-sm
          %h3.general-subtitle= t('checkout.shipping_address')
        = ff.fields_for :shipping_form, @form.shipping_address do |address|
          = render 'shared/address_form', f: address, ff: ff, address_type: :shipping, visible_submit_btn: false
      .form-group.checkbox
        %label.checkbox-label
          = check_box_tag :use_billing, true, @order.use_billing, hidden: true, class: 'checkbox-input', id: 'checkout_use_billing'
          -# = ff.check_box :use_billing, {class: "checkbox-input", hidden: 'true', id: 'checkout_use_billing'}, true, false
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('checkout.use_billing_adress')
  = render 'order_summary', order: @order
  = ff.submit t('checkout.save'), class:'btn btn-default center-block mb-20'