%h1.general-title-margin= t('checkout.checkout')
= render 'steps', step: :delivery
%h3.general-subtitle= t('cart.credit_card.title')
.visible-xs
  .general-cart-item.divider-lg-bottom.mb-30
    = form_tag(checkout_payment_path, method: :put) do
      %table.table
        - @deliveries.each do |delivery|
          %tr
            %td.col-half
              %span.in-grey-600= t('cart.credit_card.method')
            %td.col-half
              .form-group.radio.mt-0.mb-0
                %label.radio-label
                  = radio_button_tag(:delivery, delivery.id, @order.delivery&.id == delivery.id, class: 'radio-input', hidden: "true", require: 'true' )
                  %span.radio-icon
                  %span.radio-text= delivery.title
          %tr
            %td
              %span.in-grey-600= t('cart.credit_card.days')
            %td
              %span.font-16.fw-300= delivery.title
          %tr
            %td
              %span.in-grey-600= t('cart.price')
            %td
              %span.font-16.in-gold-500="€#{delivery.price}"
      .text-center        
        = submit_tag('Save and Continue', class: 'btn btn-default mb-20')
.hidden-xs.mb-res-50
  = form_tag(checkout_payment_path, method: :put) do
    %table.table.table-hover
      %thead
        %tr
          %th.col-method
            %span.in-grey-600.ml-40= t('cart.credit_card.method')
          %th
            %span.in-grey-600= t('cart.credit_card.days')
          %th
            %span.in-grey-600= t('cart.price')
      %tbody
        - @deliveries.each do |delivery|
          %tr
            %td
              .form-group.radio.mt-0.mb-0
                %label.radio-label
                  = radio_button_tag(:delivery, delivery.id, @order.delivery&.id == delivery.id, class: 'radio-input', hidden: "true", require: 'true' )
                  %span.radio-icon
                  %span.radio-text= delivery.title
            %td
              %span= delivery.days
            %td
              %span.font-16.in-gold-500="€#{delivery.price}"
    = render 'order_summary', order: @order
    .text-center
      = submit_tag('Save and Continue', class: 'btn btn-default mb-20', id: 'deliveries-submit-btn')