%h1.general-title-margin= t('checkout.checkout')
= render 'steps', step: :payment
%h3.general-subtitle= t('cart.credit_card.title')
= form_tag(checkout_confirm_path, class: 'max-600 mb-80', method: :put) do
  = simple_fields_for(:credit_card, @credit_card) do |f|
    .form-group
      = f.input :number, input_html: { class: 'form-control' }, label: 'Card Number',
      placeholder: "Card Number", label_html: { class: 'control-label input-label' }
    .row
      .col-sm-6
        .form-group
          = f.input :card_name, input_html: { class: 'form-control' }, label: 'Name on Card',
          placeholder: "Name on Card", label_html: { class: 'control-label input-label' }
      .col-sm-3
        .form-group
          = f.input :expiration_date, input_html: { class: 'form-control' }, label: "MM / YY",
          placeholder: "MM / YY", label_html: { class: 'control-label input-label' }
      .col-sm-3
        .form-group.relative
          = f.input :cvv, input_html: { class: 'form-control' }, label: "CVV",
          placeholder: "CVV", label_html: { class: 'control-label input-label' }
          %i.fa.fa-question-circle.general-form-help
  = render 'order_summary', order: @order
  = submit_tag 'Save and Continue', class:'btn btn-default center-block mb-20'